.size-img{
  width: 75px !important;
  height: 65px !important;
}
.custom-checkbox{
  margin-left: -10px !important;
  padding-top: 20px !important;
  margin-top: 20px !important;
}
.custom-btn-add{
  margin-left: 420px !important;
}
