.custom-search{
  width: 650px !important;
  margin-top: 30px !important;
  margin-left: 145px !important;

}
.custom-btn-search{
  background-color: #1e90ff !important;
  height: 35px !important;
  width: 10px !important;
}
.custom-icon-search{
  height: 30px !important;
}

.custom-form-filter{
  margin-left: 500px !important;
  padding-top: auto;
  margin-top: -80px !important;
}



.custom-carousel{
  margin-left: 280px !important;
}
.custom-carousel-main{
  height: 550px !important;
  margin-left: 200px !important;
  // margin-right: -300px !important;
}



.custom-form-filter{
  margin-left: 450px !important;
  padding-top: auto;
}

.custom-search-main{
  width: 800px !important;
}

.custom-filter{
  margin-left: 450px !important;
}
.custom-card{
  height: 320px !important;
  margin-left: 30px !important;
}
