.customer-submit{
  margin-top: 20px !important;
  margin-left: 135px !important;
  margin-bottom: 50px !important;
}

.password-input {
  position: relative;
}

.password-toggle {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

.custom-eye{
  margin-top: 38px !important;

}
