::ng-deep .success-snackbar {
  color: white;
  background-color: #50cd89;
}

::ng-deep .update-snackbar {
  color: white;
  background-color: #4872e6;
}

::ng-deep .error-snackbar {
  color: white;
  background-color: #F64E60;
}
